{% extends 'app/base.html' %}
{% load static %}


{% block main-content %}
<div class="container my-5">
  <div class="row">
    <h3>Welcome {{ request.user.username|capfirst }}</h3>
    <div class="col-sm-2 border-end">
      <ul class="list-unstyled">
        <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password Done</a></li>
      </ul>
    </div>
    <div class="col-sm-9 offset-sm-1 text-center">
      <h3>Password Changed Successfully !!!</h3>
      <iframe src="https://media.giphy.com/media/OSOOHw7N9gb3R06OU7/giphy.gif?cid=790b7611telagwjj4rfs4o38jrp67r632yqdr2qv2thsr5tt&ep=v1_gifs_search&rid=giphy.gif&ct=g" width="200" height="200" frameBorder="0" 
        class="giphy-embed" allowFullScreen></iframe>
    </div>
  </div>
</div>
{% endblock main-content %}