{% extends "app/base.html" %}
{% block title %}Wishlist{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        {% if wishlist_items %}
        <h1 class="text-center mb-5">Your Wishlist</h1>
        <div class="col-sm-8">
            <div class="row">
                {% for item in wishlist_items %}
                <div class="col-sm-4 text-center mb-4 hover-shadow">
                    <a href="{% url 'product-detail' item.product.id %}" class="btn">
                        <div>
                            <img src="{{ item.product.product_image.url }}" width="300px" height="200px" alt="{{ item.product.title }}" />
                        </div>
                        <div class="fw-bold">{{ item.product.title }}</div>
                        <div class="fw-bold text-danger">
                            Rs. {{ item.product.discounted_price }}/-
                            <small class="fw-light text-decoration-line-through">
                                {{ item.product.selling_price }}
                            </small>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <h1 class="text-center mb-5">Wishlist is Empty</h1>
        {% endif %}
    </div>
</div>
{% endblock main-content %}
